<div class="signup-container">
    <h2>Sign Up</h2>
  
    <form (submit)="onsignup(signing)" #signing="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="email" ngModel name="username" placeholder="hello@example.com" minlength="3" maxlength="50" #username="ngModel" required>
      </div>
  
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" ngModel name="firstName" placeholder="Enter first name" minlength="1" maxlength="50" pattern="^[a-zA-Z0-9\s_-]+$" #firstName="ngModel" required>
      </div>
  
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" ngModel name="lastName" placeholder="Enter last name" minlength="1" maxlength="50" pattern="^[a-zA-Z0-9\s_-]+$" #lastName="ngModel" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ngModel name="password" placeholder="Robust password with a mix of upper and lower case letters, numbers, and special characters" minlength="8" maxlength="50" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel" required>
      </div>

      <button type="submit">Sign UP</button>
    </form>
  </div>