/* Style for the board card container */
.board-card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

/* Style for the board content */
.board-content {
    padding: 20px;
}

/* Style for the board title */
.board-content h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Style for the description, department code, and version */
.description, .department, .version {
    font-size: 1rem;
    margin: 8px 0;
}

/* Style for the delete button */
.delete-button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 0 16px 16px;
    width: 100%;
}

/* Add some hover effect for the delete button */
.delete-button:hover {
    background-color: #e24444;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  
  





  .bn55 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #e28e44;
    color: #fff;
    border: 1px solid rgba(243, 105, 7, 0.6);
  }
  
  .bn55 .bn55span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn55:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn55:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn55rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn55storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  
  